# ===============================
# JWT CONFIG
# ===============================
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
ACCESS_TOKEN_TTL=30d
REFRESH_TOKEN_TTL=7d

# ===============================
# DATABASE
# ===============================
MONGO_URI=mongodb://localhost:27017/hiverift_CRM

# ===============================
# DEFAULT ROLES LOGIN CREDENTIALS
# ===============================
ADMIN_EMAIL=admin@hiverift.com
ADMIN_PASSWORD=password123
MANAGEMENT_EMAIL=management@hiverift.com
MANAGEMENT_PASSWORD=password123
SALES_EMAIL=sales@hiverift.com
SALES_PASSWORD=password123
MARKETING_EMAIL=marketing@hiverift.com
MARKETING_PASSWORD=password123
DEV_EMAIL=dev@hiverift.com
DEV_PASSWORD=password123
HR_EMAIL=hr@hiverift.com
HR_PASSWORD=password123

# ===============================
# EMAIL / SMTP CONFIG
# ===============================
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
MAIL_FROM="HiveRift CRM"

PORT=5000
FRONTEND_URL=http://localhost:5173
